/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- common css --*/

html,
body {
	margin: 0;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}


body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a:hover {
	text-decoration: none;
}

input[type="button"],
button[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Poiret One', cursive;
	font-weight: 700;
}

h1{
	font-family: 'Cabin', sans-serif;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}

button:focus {
	outline: transparent;
	outline: transparent;
}

.form-control:focus {
	box-shadow: none;
}

.btn-primary:focus,
.btn-primary.focus {
	box-shadow: none;
}

ul li {
	list-style: none;
}

address {
	margin-bottom: 0rem;
}

/*--// top-bar --*/

.top-icons-agileits-w3layouts .dropdown-toggle::after {
	display: none;
}

.top-icons-agileits-w3layouts li {
	list-style: none;
	display: inline-block;
}

ul.top-icons-agileits-w3layouts a.nav-link i {
	display: inline-block;
	font-size: 17px;
	color: #0f2453;
}

.dropdown-menu {
	right: -20%;
	left: auto;
	min-width: 20rem;
	padding: 1em;
}

.dropdown-item {
	white-space: normal;
	padding: .5em;
}


.dropdown-item h4 {
	font-size: 1em;
	letter-spacing: 1.5px;
	color: #8c8c8c;
}

.dropdown-item h4 i {
	color: #000;
}


/*--// top-bar --*/

/*-- page-loading-icon --*/

.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

/*--// page-loading-icon --*/

/*-- index-page --*/

/*-- Copyright --*/

.copyright-w3layouts p {
	color: #c7c7c7;
	font-size: 13px;
	letter-spacing: 1.8px;
	text-align: center;
	font-weight: 400;
}

.copyright-w3layouts p a {
	color: #fff;
	text-decoration: underline;
}

.copyright-w3layouts {
	background: #0f2453;
}

.bg-page .copyright-w3layouts p {
	color: #fff;
}

.bg-page .copyright-w3layouts {
	background: none;
	border-top: none;
}

/*--// Copyright --*/

/*Icono de menú*/
#sidebarCollapse{
	background-color: #263d73;
}

#sidebarCollapse:hover{
	background-color: white;
	/* color: black; */
	color:#92a6cc;
}
/*fin*/

.fa-file-pdf{

	font-size: 2.5rem;
	color: rgb(230, 30, 30);
	margin-top: 10vmin;
	margin-bottom: 1vmin;
	
}

/*--// Index-page --*/


@media(max-width:1280px) {
	h4.tittle-w3-agileits {
		font-size: 1.75em;
	}
	li.button a {
		padding: 20px 20px !important;
	}
	li.button a span {
		margin-right: 0px;
	}
	.bd-example-row .row>.col {
		font-size: 14px;
		letter-spacing: 0.5px;
	}
	h4.error-title-agileits {
		font-size: 7em;
	}
	span.error-subtext-w3l {
		font-size: 33px;
	}
	.agileinfo-cdr .card-body {
		padding: 0;
	}
	section.pricing-tables h5.card-title {
		font-size: 2.2em;
	}
	.card-header h4 {
		font-size: 1.8em;
	}
}

@media(max-width:1080px) {
	#sidebar {
		min-width: 210px;
		max-width: 210px;
	}
	.text {
		text-align: center;
		padding-top: 13%;
	}
	.h2.main-title-w3layouts {
		font-size: 3.4em;
	}
	blockquote.blockquote.card-body p {
		font-size: 15.5px;
	}
	a.btn.more {
		font-size: 13px;
		padding: 0.5em 1.5em;
	}
	.sub-title-w3-agileits {
		font-size: 1.5em;
		letter-spacing: 1.5px;
	}
	.text-carousel .carousel-caption {
		position: absolute;
		top: 34%;
	}
	section.forms-section label {
		font-size: 14px;
		letter-spacing: 0.6px;
	}
	.error-right {
		text-align: center;
	}
	.errorleft {
		border-right: none;
	}
	h4.error-title-agileits {
		font-size: 8em;
		margin-bottom: .1em;
		text-align: center;
		border-bottom: 3px solid #f75757;
	}
	span.error-subtext-w3l {
		font-size: 27px;
	}
	p.error-text {
		font-size: 15px;
		margin: 0.5em 0em 1em;
	}
	.paragraph-agileits-w3layouts {
		font-size: 13px;
		line-height: 30px;
	}
	.card.box-shadow {
		width: 45%;
		flex: none;
		margin: 0 auto !important;
	}
	.card.box-shadow:nth-child(3),
	.card.box-shadow:nth-child(4) {
		margin-top: 1em !important;
	}
	h2.main-title-w3layouts {
		font-size: 3.5em;
	}
	.form-body-w3-agile .form-control {
		padding: 0.6em 1em;
		margin: .5em 0em 1em;
		font-size: 14px;
		letter-spacing: .8px;
	}
	.form-body-w3-agile label,
	.forgot a {
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 0.6px;
		color: #91a6f9;
	}
	canvas.SimpleChartcanvas {
		/*max-width: 730px !important;*/
	}
	.index-rcontent {
		padding-left: 0;
	}
}

@media(max-width:1050px) {
	.btn-primary {
		font-size: 15px;
		letter-spacing: 0.5px;
	}
}

@media(max-width:1024px) {
	.validform {
		display: inherit;
	}
	.validform1,
	.validform2 {
		max-width: 100%;
	}
	.bd-example-row .row>.col,
	.bd-example-row .row>[class^=col-] {
		font-size: 13px;
	}
	.form-body-w3-agile.text-center {
		padding: 3em 3em;
	}
	canvas.SimpleChartcanvas {
		/*--max-width: 675px !important;--*/
	}
}

@media(max-width:991px) {
	canvas.SimpleChartcanvas {
		/*max-width: 620px !important;*/
	}
	.bd-example-row-flex-cols .row {
		min-height: 8rem;
	}
	.form-body-w3-agile.text-center {
		padding: 3em 5em;
	}
	.card-columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	.bd-content table {
		display: block;
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	g#circleBar-web-group {
		transform: translate(35%, 0%);
	}
	g#circleBar-mobile-group {
		transform: translate(40%, 0%);
	}
	svg.circular-bars {
		height: 315px;
	}
}

@media(max-width:900px) {
	ul.top-icons-agileits-w3layouts a.nav-link i {
		font-size: 14px;
	}
	.nav-link {
		padding: 0.5rem 0.5rem;
	}
	.header {
		min-height: 320px;
	}
	h2.main-title-w3layouts {
		font-size: 3.2em;
	}
	.top-icons-agileits-w3layouts span.badge {
		font-size: 9px;
		width: 15px;
		height: 15px;
		top: -2%;
		right: -2px;
		padding: 2px 0 0;
	}
}

@media(max-width:800px) {
	canvas.SimpleChartcanvas {
		/*max-width: 450px !important;*/
	}
	.copyright-w3layouts p {
		font-size: 13px;
		letter-spacing: 1.3px;
	}
	h4.tittle-w3-agileits {
		font-size: 1.6em;
	}
	.card-header h4 {
		font-size: 1.5em;
	}
	section.pricing-tables h5.card-title {
		font-size: 2em;
	}
}

@media(max-width:768px) {
	.sub-title-w3-agileits {
		font-size: 1.4em;
	}
	canvas.SimpleChartcanvas {
		/*max-width: 750px !important;*/
	}
}

@media(max-width:667px) {
	.navbar>.container,
	.navbar>.container-fluid {
		display: block;
	}
	.navbar-header {
		float: left;
	}
	form.form-inline.search-form {
		justify-content: flex-end;
	}
	ul.top-icons-agileits-w3layouts {
		margin-top: 1.3em;
	}
	.copyright-w3layouts p {
		font-size: 13px;
		padding: 0.5em 2em;
		line-height: 28px;
	}
	g#circleBar-web-group {
		transform: translate(20%, 0%);
	}
	g#circleBar-mobile-group {
		transform: translate(25%, 0%);
	}
}

@media(max-width:600px) {
	canvas.SimpleChartcanvas {
		/*max-width: 500px !important;*/
	}
	span.error-subtext-w3l {
		font-size: 22px;
	}
	.error-search-form input.form-control {
		font-size: 14px;
	}
	.error-search-form button.btn {
		font-size: 14px;
		letter-spacing: 1.5px;
	}
	h4.error-title-agileits {
		font-size: 7em;
	}
	.inbox-side-strip-w3-agileits ul li span.badge {
		font-size: 9px;
		width: 15px;
		height: 15px;
		bottom: 27%;
		right: 1px;
	}
	.pricing3 .btn-outline-primary,
	.price2-btn,
	.btn-outline-primary {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.form-body-w3-agile.text-center {
		padding: 2em 2em;
	}
}

@media(max-width:568px) {
	canvas.SimpleChartcanvas {
		/*max-width: 465px !important;*/
	}
	.text h2 {
		font-size: 20px;
		letter-spacing: 2px;
	}
	.text a p {
		font-size: 13px;
		letter-spacing: 1px;
	}
	.header {
		min-height: 300px;
	}
	.search-form .btn-style {
		margin: 0 !important;
		font-size: 15px;
	}
	.search-form.form-inline .form-control {
		width: 60%;
	}
	.card {
		display: inline-block;
	}
	.text-carousel .carousel-caption {
		position: absolute;
		top: 15%;
	}
	.error-search-form button.btn {
		margin: 0 !important;
	}
	.card.box-shadow {
		width: 80%;
	}
	.card.box-shadow:nth-child(2) {
		margin-top: 1em !important;
	}
	.form-body-w3-agile .form-control {
		font-size: 13px;
	}
	.w3ls_button {
		border-right: none;
	}
	g#circleBar-web-group {
		transform: translate(0%, 0%);
	}
	g#circleBar-mobile-group {
		transform: translate(0%, 0%);
	}
}

@media(max-width:480px) {
	.dropdown-menu {
		min-width: 17rem;
	}
	.s-r h6 i {
		font-size: .8em;
		line-height: 2.5em;
		width: 45px;
		height: 45px;
	}
	.s-r h6 {
		font-size: 22px;
	}
	canvas.SimpleChartcanvas {
		/*max-width: 380px !important;*/
	}
	.card-columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	h4.tittle-w3-agileits {
		font-size: 1.4em;
		line-height: 33px;
	}
	.error-search-form input.form-control {
		width: 100%;
		text-align: center;
	}
	.error-search-form button.btn {
		width: 100%;
	}
	h2.main-title-w3layouts {
		font-size: 3em;
		letter-spacing: 2px;
	}
	p.error-text {
		font-size: 13.5px;
		line-height: 29px;
		letter-spacing: 1.5px;
	}
	.header {
		min-height: 275px;
	}
	.copyright-w3layouts p {
		padding: 0.5em 1.5em
	}
	g#circleBar-web-group {
		transform: translate(-15%, 0%);
	}
	g#circleBar-mobile-group {
		transform: translate(-15%, 0%);
	}
	svg.circular-bars {
		height: 300px;
	}
}

@media(max-width:440px) {
	.dropdown-menu {
		right: -84%;
	}
	canvas.SimpleChartcanvas {
		/*max-width: 340px !important;*/
	}
	.index-rcontent,
	.email-list {
		max-width: 100% !important;
		flex-basis: 100%;
		padding: 0;
	}
	.inbox-side-strip-w3-agileits {
		max-width: 100% !important;
		flex-basis: 100%;
		margin: 1em 0;
	}
}

@media(max-width:414px) {
	.drop-1 {
		right: -275%;
		min-width: 16em;
	}
	.drop-2 {
		right: -82%;
		min-width: 16em;
	}
	.drop-3 {
		right: 70%;
		min-width: 16em;
	}
	.text-carousel .carousel-caption {
		top: 20%;
		padding: 0;
	}
	.navbar-header {
		float: none;
		margin-bottom: 1em;
	}
	.search-form.form-inline .form-control {
		width: 70%;
		font-size: 13px;
	}
	.search-form .btn-style {
		font-size: 13px;
		width: 30%;
	}
	g#circleBar-web-group {
		transform: translate(-22%, 0%);
	}
	g#circleBar-mobile-group {
		transform: translate(-20%, 0%);
	}
}

@media(max-width:384px) {
	.drop-1 {
		right: -317%;
	}
	.drop-2 {
		right: -133%;
	}
	.drop-3 {
		right: 32%;
	}
	.header {
		min-height: 250px;
	}
	.simply-section {
		width: 50% !important;
		float: left !important;
		margin: 0 auto 1em !important;
	}
	section.error-page-content .container {
		padding: 0 !important;
	}
	.map-grids-w3l iframe {
		height: 250px;
	}
	.map-canvas {
		min-height: 330px;
	}
	text#circleBar-web-values {
		transform: translate(85px,324px)!important;
	}
	text#circleBar-web-labels {
		transform: translate(142px,324px);
	}
	svg.circular-bars {
		height: 405px;
	}
	rect#circleBar-web-clipLabels {
		transform: translate(-141px,89px);
		width: 100%!important;
	}
	text#circleBar-mobile-values {
		transform: translate(73px,330px);
	}
	text#circleBar-mobile-labels {
		transform: translate(131px,330px);
	}
	rect#circleBar-mobile-clipLabels{
		transform: translate(-141px,89px);
		width: 100%!important;
	}
}

@media(max-width:375px) {
	.drop-1 {
		right: -308%;
	}
	.drop-2 {
		right: -122%;
	}
	.drop-3 {
		right: 46%;
	}
	.navbar {
		padding: 15px 0px;
	}
}

@media(max-width:320px) {
	.s-r h6 {
		font-size: 19px;
	}
	.s-r h6 i {
		width: 37px;
		height: 37px;
	}
	.drop-1 {
		right: -432%;
	}
	.drop-2 {
		right: -239%;
	}
	.drop-3 {
		right: -71%;
	}
	h4.error-title-agileits {
		font-size: 5em;
	}
	.collection .collection-item {
		padding: 1em 0;
	}
	g#circleBar-web-group {
		transform: translate(-24%, 0%);
	}
	g#circleBar-mobile-group {
		transform: translate(-24%, 0%);
	}
}

/*--//responsive--*/